*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: 1.15;
}

:where(html) {
  font-family: Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
}

:where(body) {
  margin: 0;
}

:where(address) {
  font-style: inherit;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

:where(blockquote, dl, dd, figure, p) {
  margin: 0;
}

:where(menu, ul, ol) {
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(pre) {
  margin: 0;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

:where(a) {
  color: inherit;
  text-decoration: inherit;
}

:where(b, strong) {
  font-weight: inherit;
}

:where(dfn, em, cite, i, var) {
  font-style: inherit;
}

:where(small, sub, sup) {
  font-size: inherit;
}

:where(s, u) {
  text-decoration: inherit;
}

:where(code, kbd, samp) {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

:where(mark) {
  background-color: inherit;
  color: inherit;
}

:where(ruby > rt) {
  font-size: inherit;
  text-align: inherit;
}

q::after,
q::before {
  content: '';
}

:where(iframe) {
  border: none;
}

:where(del, ins) {
  text-decoration: inherit;
}

:where(table) {
  border-collapse: collapse;
  border-color: inherit;
}

:where(th) {
  font-weight: inherit;
}

:where(fieldset) {
  margin: 0;
  padding: 0;
  border: none;
}
