*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: 1.15;
}

:where(html) {
  font-family: Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
}

:where(body) {
  margin: 0;
}

:where(address) {
  font-style: inherit;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

:where(blockquote, dl, dd, figure, ) {
  margin: 0;
}
